<MudCard Style="width: 300px;">
    <MudCardHeader>
        <CardHeaderAvatar>
            <MudAvatar Rounded="true" Color="Color.Error" Style="font-size: 17px;">@Profil.Trigramme</MudAvatar>
        </CardHeaderAvatar>

        <CardHeaderContent>
            <MudText Typo="Typo.body1">@Profil.Nom</MudText>
            <MudText Typo="Typo.body2">@preferenceDomainString</MudText>
        </CardHeaderContent>

        <CardHeaderActions>
            <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Default" />
        </CardHeaderActions>

    </MudCardHeader>
    
    <div Class="d-flex justify-center">
        <MudImage Src="@Profil.ImageUrl" Width="237" Height="355" ObjectFit=ObjectFit.Cover Alt="Photo du profil" Elevation="25" Class="rounded-lg ma-4" />
    </div>

    <MudCardContent>
        <MudText Typo="Typo.body2">Téléphone : @Profil.Tel</MudText>
        <MudText Typo="Typo.body2">Mail : @Profil.Mail</MudText>
    </MudCardContent>

    <MudCardContent Class="d-flex justify-center">
        @if (Profil.Disponibilite == "enMission")
        {
            <MudButton Variant="Variant.Filled" Color="Color.Error" Class="ml-5 mr-5" @onclick="async () => await OpenMissionInformationAsync()">En Mission</MudButton>
        }
        else if (Profil.Disponibilite == "disponible")
        {
            <MudButton Variant="Variant.Filled" Color="Color.Success" Class="ml-5 mr-5" >Libre</MudButton>
        }
        else
        {
            <MudButton Variant="Variant.Filled" Color="Color.Error" Class="ml-5 mr-5">Une erreure est survenue !</MudButton>
        }


        <MudButton Href="@Profil.DdcUrl" Target="_blank" Variant="Variant.Filled" Color="Color.Warning" Class="ml-5 mr-5">DDC</MudButton>
    </MudCardContent>

    <MissionPopup @ref="missionPopup" />

    <MudCardActions>
        <MudIconButton Icon="@Icons.Material.Filled.Favorite" Color="Color.Default" />
        <MudIconButton Icon="@Icons.Material.Filled.Share" Color="Color.Default" />
    </MudCardActions>
</MudCard>